[submodule "src/server"]
	path = src/server
	url = https://github.com/duydang2311/relife-server
	branch = main
[submodule "src/browser"]
	path = src/browser
	url = https://github.com/duydang2311/relife-browser
	branch = main
[submodule "src/client"]
	path = src/client
	url = https://github.com/duydang2311/relife-client
	branch = main
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/duydang2311/relife-shared.git
	branch = main
